@import 'material-components-web';

// customized css
@import 'components/button.css';
@import 'components/card.css';
@import 'components/chip.css';
@import 'components/list.css';
@import 'components/switch.css';
@import 'components/tab.css';
@import 'components/tooltip.css';

// https://mui.com/material-ui/customization/palette/ light mode
:root {
    --mdc-theme-primary: #1976d2;
    --mdc-theme-secondary: #9c27b0;
    --mdc-theme-error: #d32f2f;
    --mdc-theme-warning: #ed6c02;
    --mdc-theme-info: #0288d1;
    --mdc-theme-success: #2e7d32;
    --mbc-theme-scaling-factor: 8px;
}

.fullwidth {
    width: 100%;
}
