.mdc-deprecated-list-item--activated,
.mdc-drawer .mdc-deprecated-list-item--activated,
.mdc-drawer
    .mdc-deprecated-list-item--activated
    .mdc-deprecated-list-item__graphic {
    color: var(--mdc-theme-primary);
}

.mdc-deprecated-list--avatar-list .mdc-deprecated-list-item__graphic {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
