name: Lint and build check

on: [push]

jobs:
    pint-lint:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: true
            matrix:
                php: [8.3]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: json, dom, curl, libxml, mbstring
                  coverage: none

            - name: Install Pint
              run: composer global require laravel/pint

            - name: Run Pint
              run: pint --test

    bun-build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            # - name: Lint check
            #   run: bun run lint

            - name: Build check
              run: bun run build
